<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.author?.name }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.genre?.name }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.count }}</td>
        <td> <button (click)="deleteBook(book.id!)"> Remove</button></td>
        <td> <button routerLink="/editbook" [queryParams]="{bookId: book.id}"> Update</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

