<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="bookForm" (ngSubmit)="confirm()">
      <div class="book-form d-flex flex-column">
        <label for="author">Author</label>
        <input type="number" formControlName="author" placeholder="Enter author id">

        <label for="title">Title</label>
        <input type="text" formControlName="title" placeholder="Enter title">

        <label for="genre">Genre</label>
        <input type="number" formControlName="genre" placeholder="Enter genre id">

        <label for="price">Price</label>
        <input type="number" formControlName="price" placeholder="Enter price">

        <label for="count">Count</label>
        <input type="number" formControlName="count" placeholder="Enter count">
      </div>
      <button type="submit" [disabled]="bookForm.invalid" class="mt-4 btn btn-info">Submit</button>
    </form>
  </div>
</div>