<div class="form-bg">

  <form [formGroup]="loginForm" class="form">
    <div class="box">

      <div style="display: flex; margin: 0 auto;">
        <h4 class="admin">Log In</h4>
      </div>
      <div>
        <input type="email" placeholder="Enter email" formControlName="email" />
      </div>
      <div>
        <input type="password" placeholder="Enter password" formControlName="password" />
      </div>
      <div>
        <button class="SignUp" type="button" routerLink="/signup">Sign-Up ?</button>
      </div>

      <button class="login-button" type="submit" (click)="login()" [disabled]="loginForm.invalid">Log In</button>
    </div>
  </form>
</div>