<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors">
        <td>{{ author.id }}</td>
        <td>{{ author.name }}</td>
        <td> <button (click)="deleteAuthor(author.id!)"> Remove</button></td>
        <td> <button routerLink="/editauthor" [queryParams]="{authorId: author.id}"> Update</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
