<div class="form-bg">

  <form [formGroup]="signupForm" class="example-form">
    <div class="box">

      <div style="display: flex; margin: 0 auto;">
        <h4 class="admin">Sign Up</h4>
      </div>
      <div>
        <input type="text" placeholder="Enter your name" formControlName="name"/>
      </div>
      <div>
        <input type="email" placeholder="Enter your email" formControlName="email"/>
      </div>
      <div>
        <input type="password" placeholder="Enter your password" formControlName="password"/>
      </div>
      <div>
        <input type="password" placeholder="Confirm password" formControlName="confirmPassword"/>
      </div>

      <button class="login-button" type="button" [disabled]="signupForm.invalid" (click)="signup()">Signup</button>
    </div>
  </form>
</div>
